* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*  xs */
/* @media ( min-width: 475px){}  */
/* sm */
/* @media ( min-width: 640pxpx){} */
/* md */
/* @media ( min-width: 768px){} */
/* lg */
/* @media ( min-width: 1024px){} */
/* xl */
/* @media ( min-width: 1280px){} */
/* 2xl */
/* @media ( min-width: 1536px){} */
